
<div class="container">
  <h3><center>Click in one of the categories below to add clients or stylists.</center></h3>
  <div class="row center-top">
    <div class="col-xs-5" >
      <a href="/stylists" class="btn btn-info" id="stylists"></a> <br>
       <h4>Stylists</h4>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-5" >
      <a href="/clients" class="btn btn-info" id="clients"></a>
      <h4>Clients</h4>
    </div>
  </div>
</div>
