<h3>Here you are able to add new stylists.</h3>


<form action="/new_stylist" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="specialty">Specialty:</label>
    <input type="text" name="specialty" placeholder="long-hair" class="form-control">
  </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="Junior Stylist" class="form-control">
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" name="image" placeholder=" www...com/image" class="form-control">
    </div>
    <div class="form-group">
      <label for="bio">Biography:</label>
      <textarea  name="bio" class="form-control" > </textarea>
    </div>
    <button type="submit" class="btn btn-info" name="button">Add Stylist</button>
  </div>
</form>
